.header {
    padding: 0%;
    text-align: center;
    font-size: 25px;

}

header {
    text-align: center;
    font-size: 15px;
    border-radius: 20px;

}



body {
    background-color: turquoise;

}


img {
    align-content:center;
    border-radius: 50%;
    
}

