.header {
    padding: 40px;
    text-align: center;
    font-size: 25px;
}

body {
    background-color: turquoise;
}
.logo {
    background-image: (webkit-gradient);
}

img {
    border-radius: 50%;
}