.header {
    padding: 40px;
    text-align: center;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    color: silver;
    border-color: silver;
}

header {
    text-align: center;
}


body {
    background-color: turquoise;
}
.logo {
    background-image: (webkit-gradient);
}

img {
    border-radius: 50%;
}

