.header {
    padding: 0%;
    text-align: center;
    font-size: 25px;
    color: white;

}

header {
    text-align: center;
    font-size: 15px;
    border-radius: 20px;
    padding: 0%;
    
    background: left / cover url('./images/coding.jpg');
        display: flex;
        height: 120px;
        align-items: center;
        justify-content: center;
        text-shadow: #000 2px 2px 0.2rem;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

nav {
    color: white;
}

h1 {
    color: white;
}

body {
    background-color: green;

}



img {
    align-content:center;
    border-radius: 50%;

}

.content {
    color: white;
    text-align: center;
}