.header {
    padding: 0%;
    text-align: center;
    font-size: 25px;
    color: white;

}



header {
    text-align: center;
    font-size: 15px;
    border-radius: 20px;
    padding: 0%;
    
    background-color: black;
        display: flex;
        height: 120px;
        align-items: center;
        justify-content: center;
        text-shadow: #000 2px 2px 0.2rem;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    h1 {
    color: white;
}

body {
    background-image: url('./images/option-1.jpg')
    
    

}



img {
    align-content:left;
    border-radius: 30%;
    border-style: dotted;

}

.content {
    color: white;
    text-align: center;
}

label,
textarea {
    font-size: 0.8rem;
    letter-spacing: 1px;
    font-family: 'Courier New', Courier, monospace;
}

.about-me {
    border-style: dashed;
    border-color: green;
    border:color(from color srgb r g b)
}

.portfolio {
    border-style: dashed;
    border-color: green;
}

.contact {
    border-style: dashed; 
    border-color: green;
}